<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#" dir="ltr">
    <head>
        <title>GoPDF</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Go PDF a Golang based PDF website">
        <meta name="keywords" content="Go,PDF,Golang,Documents,Publishing,Performance">
        <meta name="author" content="Go PDF">
        <meta property="fb:app_id" content="">
        <meta property="og:description" content="Golang powered website">
<!--
        <meta property="og:image" content="">
        <meta property="og:image:width" content="">
        <meta property="og:image:height" content="">
        <meta property="og:image:alt" content="">
-->
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="Go PDF">
        <meta property="og:title" content="Go PDF">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://g0pdf.herokuapp.com/">
        <!-- how do these video work ??? -->
        <!--
        <meta property="og:video" content="">
        <meta property="og:video:secure_url" content="">
        <meta property="og:video:width" content="800">
        <meta property="og:video:height" content="600">
        <meta property="og:video:type" content="application/x-shockwave-flash">
        -->

        <link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>
    <body>
        <h1>GoPDF</h1>
    </body>
</html>
